@page "/component_example_two_way_binding"
@*https://stackoverflow.com/questions/59729898/how-to-bind-and-run-an-async-method-on-input-change-in-blazor*@

<!-- Counter Test -->
<h1>Consume Component (Two Way Binding)</h1>

<p></p>
<Component_TwoWayBinding OneWayParameter="One Way Value" @bind-TwoWayParameter="ParentVariable">
</Component_TwoWayBinding>

<p>Two Way Variable Value Is: '@ParentVariable'</p>


@code {

    private string ParentVariable = "Initial Two Way Value";

}

