@page "/counter"

@using System.Reflection.Metadata.Ecma335


<!-- Counter Test -->
<h1>Counter Test</h1>

<p>Current counter value: @counterValue</p>
<p><label>Increment Counter By:</label><input @bind="incrementCounterBy"/></p>
<p><button class="btn btn-primary" @onclick="@Test_IncrementTheCounter">Click me to increment counter</button></p>
<p>Note: be sure to lose focus to have the 'increment by' value bound</p>

@*<p>
    <input @bind="currentValue" /> Current value: @currentValue
</p>*@

<!-- Counter Test -->
<!-- *************************************************************************************************** -->
<!-- *************************************************************************************************** -->
<!-- *************************************************************************************************** -->
<!-- *************************************************************************************************** -->
<!-- *************************************************************************************************** -->
<!-- *************************************************************************************************** -->
<!-- *************************************************************************************************** -->
<!-- *************************************************************************************************** -->
<!-- *************************************************************************************************** -->
<!-- *************************************************************************************************** -->
<!-- *************************************************************************************************** -->
<!-- *************************************************************************************************** -->

@code{

    // ***************************************************************************************************
    // Properties
    // ***************************************************************************************************

    private string currentValue;
    int incrementCounterBy;
    int counterValue = 0;



    // ***************************************************************************************************
    //EventHandlers
    // ***************************************************************************************************
    void Test_IncrementTheCounter()
    {
        counterValue += incrementCounterBy;
    }

}