<div class="alert alert-secondary mt-4" role="alert">
    <span class="oi oi-pencil mr-2" aria-hidden="true"></span>

    <p>Your that you passed was parameter is: '@Parameter_To_Component'</p>

    <div>
        @if (ShouldShowChildContent)
        {
            @ChildContent;
        }
    </div>


</div>

@code {
    // Demonstrates how a parent component can supply parameters
    [Parameter]
    public string Parameter_To_Component { get; set; }

    [Parameter]
    public bool ShouldShowChildContent { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}

